* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}
.navbar a {
  font-size: 30px;
}
.navbar form {
  height: 40px;
  align-items: center;
}
.navbar form li {
  list-style-type: none;
  align-content: center;
}
.navbar form li a {
  color: black;
  font-size: 20px;
}
.navbar form i {
  font-size: 20px;
}
.navbar ul .nav-item a {
  color: black;
  font-size: 20px;
}
.navbar .container-fluid .navbar-collapse ul .dropdown a {
  color: black;
  font-size: 20px;
}

/* New collection CSS */
.new-collecion {
  text-align: center;
  font-size: 69px;
  margin: 80px 0px 30px;
}
.new-collecion-para {
  width: 60%;
  font-size: 21px;
  margin: 40px 0px 40px 20%;
  color: rgb(103, 103, 103);
}

/* Cards CSS */
.cardss .col-lg-4 .card .card-body h5{
  text-transform: lowercase;
}
.container img {
  height: 100%;
  width: 100%;
  transition: 0.2s all ease-in-out;
  clip-path: inset(0% 0% 0% 0%);
}
.container .card:hover img {
  clip-path: inset(8% 8% 8% 8%);
  transform: scale(1.1, 1.1);
}
.container .card {
  border: none;
  text-align: start;
  background-color: transparent;
}
.container .card .card-body {
  background-color: transparent;
  border: none;
}
.container .card .card-body h5 {
  color: black;
  font-size: 29px;
}
.container .card .card-body p {
  color: rgb(103, 103, 103);
  font-size: 19px;
}
.container .card .card-body a {
  background-color: none;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid grey;
  font-size: 30px;
}
.container .card .card-body a:hover {
  background-color: none;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
  transition: 0.5s all ease-in-out;
}

/* Provides CSS */
.provides {
  width: 100%;
  align-items: center;
  margin: 100px 0px 100px;
}
.provides i {
  font-size: 30px;
  margin: 10px 0px 10px;
  color: rgb(103, 103, 103);
}
.provides h1 {
  font-size: 30px;
  margin: 10px 0px 10px;
}

/* category CSS */
.category {
  margin-bottom: 100px;
}

/* New-arrivals */
.new-arrivals .card .card-body h1 {
  font-size: 20px;
}
.new-arrivals .card .card-body .priceandcart{
    overflow: hidden;
    height: 50px;
}
.new-arrivals .card .cartbtn {
  /* visibility: hidden; */
  transition: .2s all ease-in-out;
}
.new-arrivals .card .price {
    transition: .2s all ease-in-out;
}
.new-arrivals .card:hover .price {
  transform: translateY(-50px);
 
}
.new-arrivals .card:hover .cartbtn {
    /* visibility: visible; */
    transform: translateY(-45px);
}

/* Wintercollection */
.wintercollection{
  height: 70vh;
}
.wintercollection .classic-winter{
    display: flex;
    flex-direction: column;
    gap: 40px;
      padding: 90px;
    text-align: start;
}
.wintercollection .classic-winter p{
    color: rgb(103, 103, 103);
    font-size: 18px;
}
.wintercollection h1{
    text-transform: uppercase;
}

.wintercollection .classic-winter button{
    height: 40px;
    width: 190px;
    background-color: black;
    border-radius: 5px;
    color: white;
    
}
.wintercollection .classic-winter button:hover{
    background-color: rgb(69, 69, 69);
    transition: .2s all ease-in-out;
}

/* Bestsellingitem */
.Bestsellingitem {
  margin: 50px 0px 50px;
}

.Bestsellingitem button{
    height: 20px;
    width: 20px;
}
.Bestsellingitem a{
  font-size: 20px;
  border-bottom: 3px solid gray;
}
.Bestsellingitem a:hover{
  border-bottom: 3px solid black;
}

/* BlogPosts CSS*/
.Blogheading a{
  border-bottom: 3px solid grey;
  font-size: 20px;
}
.Blogheading a:hover{
  border-bottom: 3px solid black;
  transition: 0.5s all ease-in-out;
}
.Blogpost{
  height: auto;
}
.cardbox{
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: start;
}
.cardbox h5{
  color: rgb(103, 103, 103);
}
.cardbox .card-text-1{
  color: black;
  font-size: 35px;
}
.cardbox .card-text{
  color: rgb(103, 103, 103);
  font-size: 20px;
}

/* SignUp CSS */
.outerside{
 width: 100%;
 height: 60vh;
 align-content: center;
}
.SignUp input{
  width: 60%;
  font-size: 30px;
  padding: 0;
  border: none;
  height: 60px;
}
.SignUp form{
  padding: 0;
  
}
.SignUp button{
  width: 60%;
  font-size: 30px;
  background-color: #333;
  color: white;
  margin: 10px 0px 40px;
  height: 60px;
}
.SignUp button:hover{
  background-color: #555;
  color: white;
}


/* Instafollow CSS */

.instafollowbtn{
  background-color: #333;
  color: white;
  width: 60%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  margin: 40px 0px 40px;
}
.instafollowbtn:hover{
  background-color: #555;
  color: white;
}

/* Footer CSS  */
.foooter .mx-1{
  cursor: pointer;
}
.foooter h1{
  font-size: 60px;
}
.foooter p{
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.foooter .col h5{
  font-size: 40px;
  
}
.foooter .col ul li{
  font-size: 20px;
}
.foooter .col ul li a span{
  font-size: 20px;
}

.foooter .col ul li a span:hover{
  border-bottom: 1px solid black;
  transition: 0.2s all ease-in-out;
}






/* Ressponsive CSS */
/* iPad Mini */

@media (min-width: 436px) and (max-width: 768px) {
 .foooter{
  padding-top: 40px;
 }
  .foooter h1{
  font-size: 30px;
}
.foooter p{
  font-size: 13px;
  color: rgb(103, 103, 103);
}
.foooter .col h5{
  font-size: 20px;
  
}
.foooter .col ul li{
  font-size: 13px;
}
.foooter .col ul li a span{
  font-size: 13px;
}
.instafollowbtn{
  font-size: 20px;
  width: 40%;
  height: 40px;
  margin-top: 20px;
}
.outerside{
  height: 30vh;
}
.outerside h1{
  font-size: 31px;
}
.SignUp button{
  width: 40%;
  height: 40px;
  font-size: 20px;
}
.SignUp input{
   width: 40%;
  height: 40px;
  font-size: 20px;
}
.cardbox .card-text-1{
  font-size: 25px;
}
.cardbox .card-text{
  font-size: 15px;
}
.Blogheading h1{
font-size: 25px;
}
.Blogheading a{
  font-size: 17px;
}
.wintercollection{
  height: 40vh;

}
.wintercollection .classic-winter{
  gap: 10px;
  padding: 30px;
}
.wintercollection .classic-winter h1{
  font-size: 22px;
}
.wintercollection .classic-winter p{
  font-size: 12px;
}
.Bestsellingitem h1{
  font-size: 25px;
}
.Bestsellingitem a{
  font-size: 17px;
}
.Bestsellingitem {
  margin: 30px 0px 30px;
}
.provides i{
  font-size: 25px;
}
.provides h1{
  font-size: 23px;
}
.provides{
margin: 50px 0px 50px;
}
.cardss .col-lg-4 .card .card-body h5{
  font-size: 25px;
}
.cardss .col-lg-4 .card .card-body p{
  font-size: 22px;
}
.cardss .col-lg-4 .card .card-body a{
  font-size: 20px;
}
.new-collecion{
  font-size: 30px;
  margin: 30px 0px 30px;
}
.new-collecion-para{
  font-size: 20px;
  width: 70%;
  margin-left: 15%;
}
.category{
  margin: 10px 0px 10px;
}
}


/* iPad Air */
@media (min-width: 769px) and (max-width: 820px){
   .foooter{
  padding-top: 40px;
 }
  .foooter h1{
  font-size: 35px;
}
.foooter p{
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.foooter .col h5{
  font-size: 25px;
  
}
.foooter .col ul li{
  font-size: 18px;
}
#email, #number{
  font-size: 15px;
}
#first-q, #second-q{
  text-align: start;
  width: 150%;
}
.foooter .col ul li a span{
  font-size: 18px;
}
.instafollowbtn{
  font-size: 20px;
  width: 40%;
  height: 40px;
  margin-top: 20px;
}
.outerside{
  height: 30vh;
}
.outerside h1{
  font-size: 31px;
}
.SignUp button{
  width: 40%;
  height: 40px;
  font-size: 20px;
}
.SignUp input{
   width: 40%;
  height: 40px;
  font-size: 20px;
}
.cardbox .card-text-1{
  font-size: 27px;
}
.cardbox .card-title{
  font-size: 22px;
}
.cardbox .card-text{
  font-size: 18px;
}
.Blogheading h1{
font-size: 30px;
}
.Blogheading a{
  font-size: 22px;
}
.wintercollection{
  height: 40vh;

}
.wintercollection .classic-winter{
  gap: 10px;
  padding: 10px;
}
.wintercollection .classic-winter h1{
  font-size: 25px;
}
.wintercollection .classic-winter p{
  font-size: 17px;
}
.Bestsellingitem h1{
  font-size: 30px;
}
.Bestsellingitem a{
  font-size: 22px;
}
.Bestsellingitem {
  margin: 30px 0px 30px;
}
.provides i{
  font-size: 25px;
}
.provides h1{
  font-size: 23px;
}
.provides{
margin: 50px 0px 50px;
}
.cardss .col-lg-4 .card .card-body h5{
  font-size: 25px;
}
.cardss .col-lg-4 .card .card-body p{
  font-size: 22px;
}
.cardss .col-lg-4 .card .card-body a{
  font-size: 20px;
}
.new-collecion{
  font-size: 50px;
  margin: 20px 0px 20px;
}
.new-collecion-para{
  font-size: 24px;
  width: 70%;
  margin: 10px  15% 30px;
}
.category{
  margin: 10px 0px 10px;
}
}


/* iPad Pro */
@media (min-width:821px) and (max-width:1024px){
     .foooter{
  padding-top: 40px;
 }
  .foooter h1{
  font-size: 35px;
}
.foooter p{
  font-size: 18px;
  color: rgb(103, 103, 103);
}
.foooter .col h5{
  font-size: 25px;
  
}
.foooter .col ul li{
  font-size: 18px;
}
#email, #number{
  font-size: 15px;
}
#first-q, #second-q{
  text-align: start;
  width: 150%;
}
.foooter .col ul li a span{
  font-size: 18px;
}
.instafollowbtn{
  font-size: 20px;
  width: 40%;
  height: 40px;
  margin-top: 20px;
}
.outerside{
  height: 30vh;
}
.outerside h1{
  font-size: 31px;
}
.SignUp button{
  width: 40%;
  height: 40px;
  font-size: 20px;
}
.SignUp input{
   width: 40%;
  height: 40px;
  font-size: 20px;
}
.cardbox .card-text-1{
  font-size: 27px;
}
.cardbox .card-title{
  font-size: 22px;
}
.cardbox .card-text{
  font-size: 18px;
}
.Blogheading h1{
font-size: 30px;
}
.Blogheading a{
  font-size: 22px;
}
.wintercollection{
  height: 40vh;

}
.wintercollection .classic-winter{
  gap: 10px;
  padding: 10px;
}
.wintercollection .classic-winter h1{
  font-size: 25px;
}
.wintercollection .classic-winter p{
  font-size: 17px;
}
.Bestsellingitem h1{
  font-size: 30px;
}
.Bestsellingitem a{
  font-size: 22px;
}
.Bestsellingitem {
  margin: 30px 0px 30px;
}
.provides i{
  font-size: 25px;
}
.provides h1{
  font-size: 23px;
}
.provides{
margin: 50px 0px 50px;
}
.cardss .col-lg-4 .card .card-body h5{
  font-size: 25px;
}
.cardss .col-lg-4 .card .card-body p{
  font-size: 22px;
}
.cardss .col-lg-4 .card .card-body a{
  font-size: 20px;
}
.new-collecion{
  font-size: 50px;
  margin: 20px 0px 20px;
}
.new-collecion-para{
  font-size: 24px;
  width: 70%;
  margin: 10px  15% 30px;
}
.category{
  margin: 10px 0px 10px;
}
}